@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Red Hat Display", sans-serif;
}

.navigation {
  margin-top: 30px;
}

#hero {
  width: 100%;
  max-width: initial;
}

#hero > .row {
  margin: 0;
}

#hero > .row > .col {
  padding: 0 1.5em;
}

#hero > .row .left {
  margin-top: 1em;
}

#hero > .row .right {
  margin-top: 3em;
}

#hero h1 {
  color: #28283d;
  font-weight: bold;
  font-size: 4em;
}

#hero p {
  color: #28283d;
  line-height: 1.625em;
  color: #717181;
  font-weight: 500;
  font-size: 1.2rem;
}

#button-container {
  margin-top: 3em;
}

#button-container .button-1 {
  background-color: #4d96a8;
  color: #fafafa;
  border-color: transparent;
  font-weight: 900;
  width: 193px;
  padding: 1em;
  border-radius: 29px;
  margin: 0 0.5em;
}

#button-container .button-1:hover {
  background-color: rgba(143, 227, 249, 0.6);
}

#button-container #version {
  color: #8fe3f9;
}

.button-2 {
  background-color: #855fb1;
  color: #fafafa;
  border-color: transparent;
  font-weight: 900;
  width: 139px;
  padding: 1em;
  border-radius: 29px;
  margin: 0 0.5em;
}

.button-2:hover {
  background-color: rgba(143, 227, 249, 0.6);
}

.parallax-section-1 {
  margin-top: 2em;
  background-color: rgba(77, 150, 168, 0.5);
}

.features {
  margin-top: 5em;
}

.features .slogan {
  color: #4d96a8;
  font-weight: 900;
  line-height: 1.625em;
  font-size: 1em;
  letter-spacing: 4px;
}

.features .sub-slogan {
  color: #28283d;
  font-size: 2.5em;
  font-weight: 900;
  margin-bottom: 1em;
}

.features p {
  color: #717181;
  font-size: 1.2em;
  font-weight: 500;
  line-height: 1.625em;
}

.parallax-section-2 {
  margin-top: 5em;
  background-color: rgba(217, 184, 255, 0.5);
}

.features-2 .col {
  margin-bottom: 3em;
}

.features-2 .sub-slogan {
  color: #28283d;
  font-size: 2.5em;
  font-weight: 900;
  margin: 0;
}

.features-2 p {
  margin-top: 2em;
  color: #717181;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.625em;
}

.final-button {
  margin-top: 2em;
}

.final-button .button-3 {
  margin-top: 8em;
  background-color: #855fb1;
  color: #fafafa;
  border-color: transparent;
  font-weight: 900;
  width: 193px;
  padding: 1em;
  border-radius: 29px;
  margin: 0 0.5em;
}

.final-button .button-3:hover {
  background-color: rgba(217, 184, 255, 0.6);
}

.final-button #version-span {
  color: #d9b8ff;
}

footer {
  margin-top: 20em;
  background-color: #fafafa;
}

footer a {
  text-decoration: none;
  color: #262626;
}

@media only screen and (max-width: 768px) {
  #hero .left {
    width: 100%;
  }
  #hero #left {
    width: auto;
    margin-top: 1em;
  }
  #hero .button-2 {
    margin-top: 0.5em;
  }
  .parallax-section-1 #para-image {
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media only screen and (max-width: 768px) {
  .left {
    width: 100%;
  }
  .right {
    width: 100%;
  }
  #left {
    width: auto;
  }
  #right {
    width: auto;
  }
  #left {
    width: auto;
  }
  .parallax-section-1 img {
    width: 100%;
  }
}

@media only screen and (max-width: 2100px) {
  #left {
    width: auto;
  }
  #right {
    width: auto;
  }
}

@media only screen and (min-width: 3072px) {
  nav img {
    width: 13rem;
  }
  #left {
    width: 55%;
  }
  #right {
    width: 55%;
  }
  #hero h1 {
    font-size: 5rem;
  }
  #hero p {
    font-size: 2rem;
  }
  #button-container .button-1 {
    width: 265px;
  }
  #button-container .button-2 {
    width: 211px;
  }
  .features .slogan {
    font-size: 1.5rem;
  }
  .features .sub-slogan {
    font-size: 3.5rem;
  }
  .features p {
    font-size: 2rem;
  }
  .features-2 p {
    font-size: 2rem;
  }
}
/*# sourceMappingURL=styles.css.map */