@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Red Hat Display", sans-serif;
}

//colors
$darkTeal: rgb(77, 150, 168);
$darkViolet: rgb(133, 95, 177);
$darkness: rgb(40, 40, 61);
$grey: rgb(135, 135, 157);
$cyan: rgb(143, 227, 249);
$violet: rgb(217, 184, 255);
$whiteness: rgb(250, 250, 250);

.navigation {
  margin-top: 30px;
}

//this creates a container-fluid, thus giving you full width
#hero {
  width: 100%;
  max-width: initial;
  > .row {
    margin: 0;
    > .col {
      padding: 0 1.5em;
    }
    .left {
      margin-top: 1em;
    }
    .right {
      margin-top: 3em;
    }
  }
  h1 {
    color: $darkness;
    font-weight: bold;
    font-size: 4em;
  }
  p {
    color: $darkness;
    line-height: 1.625em;
    font-weight: 500;
  }
}
#button-container {
  margin-top: 3em;

  .button-1 {
    background-color: $darkTeal;
    color: $whiteness;
    border-color: transparent;
    font-weight: 900;
    width: 193px;
    padding: 1em;
    border-radius: 29px;
    margin: 0 0.5em;
    &:hover {
      background-color: rgba(143, 227, 249, 0.6);
    }
  }
  #version {
    color: $cyan;
  }
}
.button-2 {
  background-color: $darkViolet;
  color: $whiteness;
  border-color: transparent;
  font-weight: 900;
  width: 139px;
  padding: 1em;
  border-radius: 29px;
  margin: 0 0.5em;
  &:hover {
    background-color: rgba(143, 227, 249, 0.6);
  }
}

.parallax-section-1 {
  margin-top: 2em;
  background-color: rgba(77, 150, 168, 0.5);
}

.features {
  margin-top: 5em;
  .slogan {
    color: $darkTeal;
    font-weight: 900;
    line-height: 1.625em;
    font-size: 1em;
    letter-spacing: 4px;
  }
  .sub-slogan {
    color: $darkness;
    font-size: 2.5em;
    font-weight: 900;
    margin-bottom: 1em;
  }
  p {
    color: $grey;
    font-size: 1.125em;
    font-weight: 500;
    line-height: 1.625em;
  }
}
.parallax-section-2 {
  margin-top: 5em;
  background-color: rgba(217, 184, 255, 0.5);
}

.features-2 {
  .col {
    margin-bottom: 3em;
  }
  .sub-slogan {
    color: $darkness;
    font-size: 2.5em;
    font-weight: 900;
    margin: 0;
  }
  p {
    margin-top: 2em;
    color: $grey;
    font-size: 1.125em;
    font-weight: 500;
    line-height: 1.625em;
  }
}
.final-button {
  margin-top: 2em;
  .button-3 {
    margin-top: 8em;
    background-color: $darkViolet;
    color: $whiteness;
    border-color: transparent;
    font-weight: 900;
    width: 193px;
    padding: 1em;
    border-radius: 29px;
    margin: 0 0.5em;
    &:hover {
      background-color: rgba(217, 184, 255, 0.6);
    }
  }
  #version-span {
    color: $violet;
  }
}

footer {
  margin-top: 9em;
  background-color: rgba(135, 135, 157, 0.1);
}

@media only screen and (max-width: 375px) {
  #hero {
    .left {
      width: 100%;
    }
    #left {
      width: auto;
      margin-top: 1em;
    }
    .button-2 {
      margin-top: 0.5em;
    }
  }
  #para-image {
    object-fit: cover;
    background-position: center;
  }
  #para-image-2 {
    object-fit: cover;
    background-position: center;
  }
}

@media only screen and (min-width: 768px) {
  .left {
    width: 100%;
  }
  #left {
    width: auto;
    height: auto;
  }
}
@media only screen and (min-width: 2100px) {
  #left {
    width: 70%;
  }
  #right {
    width: 70%;
  }
}
